<figure style="margin: 0; margin-bottom: 5px; display: flex; flex-direction: column; justify-content: center; align-items: center;">{}
<figcaption style="margin-top: 5px; text-align: center; color: #888; font-size: 14px;">{}</figcaption>
</figure>
