<section id="nice" style="font-size: 17px; color: black; padding: 0 10px; line-height: 1.7; word-spacing: 0px; letter-spacing: 0.01px; word-break: break-word; word-wrap: break-word; text-align: left; font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, 'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
